1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
l=[1,2,3,4,5,6,7,8]
sum =0
for i in l:
    sum = sum+i
    
print('Sum of all elements of the list is',sum)

Sum of all elements of the list is 36

Write a program to print the characters of a string in reverse order using a `for` loop.

In [30]:
str=input('Enter a string\n')

for s in str[::-1]:
    print(s,end='')

Enter a string
hello
olleh

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [14]:
num = int(input("Enter a number to calculate factorial\n"))
fact =1
for i in range(1,num+1):
    fact = fact*i
print('Factorial of {} is {}'.format(num,fact))

Enter a number to calculate factorial
5
Factorial of 5 is 120

. Create a program to print the multiplication table of a given number using a `for` loop.

In [15]:
num = int(input("Enter a number\n"))

for i in range(1,11):
    print(i,'*',num,'=',i*num)

Enter a number
7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [18]:
l = [1,2,3,4,5,6,67,7,9,10]

even=0
odd=0
for i in l:
    if i%2==0:
        even=even+1
    else:
        odd=odd+1
    
print('The list contains {} even numbers and {} odd numbers'.format(even,odd))

The list contains 4 even numbers and 6 odd numbers

Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [20]:
for i in range(1,6):
    print('Square of {} is {}'.format(i,i**2))

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

Create a program to find the length of a string without using the `len()` function.

In [23]:
str =input('Enter a string\n')

count =0
for s in str:
    count = count+1
    
print('The length of the given string is ',count)

Enter a string
Welcome to India
The length of the given string is  16

Write a program that calculates the average of a list of numbers using a `for` loop.

In [27]:
l = [1,2,3,4,5,6,67,7,9,10]

sum=0
count=0

for i in l:
    sum=sum+i
    count = count+1
print('The Average of the list is ',sum/count)

The Average of the list is  11.4

Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [29]:
num =int(input("Enter a number \n"))
first =0
second =1
print(first,end=" ")
print(second,end=" ")
for i in range(num):
    third = first+second
    print(third,end=" ")
    first,second=second,third

Enter a number
5
0 1 1 2 3 5 8

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [9]:
l =[1,2,3,4,54,5,6]

for i in range(len(l)):
    if l[i] in l[i+1:]:
        print(l[i],'is duplicate')
        break

Create a program that prints the prime numbers in a given range using a `for` loop.

In [3]:
num = int(input('Enter a number\n'))

for i in range(1,num+1):
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count=count+1
    if count ==2:
        print(i)

Enter a number
10
2
3
5
7

Develop a program that counts the number of vowels in a string using a `for` loop.

In [19]:
vow =['a','e','i','o','u']

str = input("Enter a string\n")
count =0
for i in str:
    if i in vow:
        count=count+1
        
print(count)

Enter a string
bacnqofhiqevnamlppoqwhfjabc
7

Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [32]:
l =[1,2,3,[1,1,2,3,4,5,60],[2,3,4,5]]

max=0
for i in l:
    if type(i)==list:
        for j in i:
            if j>max:
                max=j
print(max)

60

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [38]:
l1=[1,2,3,4,5,6,2,3,4,2,3,4,5,4]

num=int(input('Enter the number to be deleted \n'))
cnt=l1.count(num)

for i in range(cnt):
    l1.remove(num)

print(l1)

Enter the number to be deleted
4
[1, 2, 3, 5, 6, 2, 3, 2, 3, 5]

Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [41]:
for i in range(1,6):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print('\n')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

7. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [44]:
fahr=[53.6, 75.2, 93.2, 113.0, 132.8, 140.0]
cel=[]
for temp in fahr:
    b = (temp-32)*5/9
    cel.append(b)
cel

[12.0, 24.0, 34.0, 45.0, 56.00000000000001, 60.0]

Create a program to print the common elements from two lists using a `for` loop.

In [45]:
lst=[1,2,3,4,5,6,7,8,9]
lst1=[1,2,8,9,10,11,12,13,14,6]

for i in lst:
    if i in lst1:
        print(i)

1
2
6
8
9

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [50]:
rows =int(input('Enter the number of rows for triangle \n'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

Enter the number of rows for triangle
7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [69]:
num =input('Enter two number\n')
num1 = int(num.split(sep=' ')[0])
num2= int(num.split(sep=' ')[1])
temp = min(num1,num2)
temp
gcd=1
for i in range(1,temp+1):
    if num1%i==0 and num2%i==0:
        gcd=i
    
gcd

Enter two number
12 24

12

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [1]:
numbers = [123, 45, 6789, 987]

def digit_sum(number):
    return sum(int(digit) for digit in str(abs(number)))

sum_of_digits_list = [digit_sum(number) for number in numbers]

# Display the original numbers and their corresponding sums of digits
for i in range(len(numbers)):
    print(f"Number: {numbers[i]}, Sum of Digits: {sum_of_digits_list[i]}")

Number: 123, Sum of Digits: 6
Number: 45, Sum of Digits: 9
Number: 6789, Sum of Digits: 30
Number: 987, Sum of Digits: 24

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [69]:
# num = 10

# for i in range(1,num+1):
#     if num%i==0:
#         #print(i)
#         count=0
#         for j in range(1,i+1):
#             if i%j==0:
#                 count=count+1
#             #print(count)
#         if count==2:
#             print(i)

In [41]:
# [x for x in range(2, 20)
#      if all(x % y for y in range(2, x//2))]

[2, 3, 4, 5, 7, 11, 13, 17, 19]

In [44]:
num=34
[x for x in range(2, num+1)
     if all(x % y for y in range(2, x//2)) if num%x==0]

[2, 17]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [52]:
l=[1,2,3,4,5,1,6,7,8,8,10,12,5]

[x for x in l if l.count(x)==1 ]

[2, 3, 4, 6, 7, 10, 12]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [58]:
num=100

[x for x in range(1,num+1) if str(x)==str(x)[::-1]]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

Write a program to flatten a nested list using list comprehension.

In [1]:
l =[[1,1,2,3,4,5,60],[2,3,4,5]]

[y  for x in l  for y in x ]

[1, 1, 2, 3, 4, 5, 60, 2, 3, 4, 5]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [8]:
l=[1,2,3,4,5,6,7,8,9,10]

print('Even_sum is',sum([x for x in l if x%2==0  ]),'\nOdd_sum is',sum([y for y in l if y%2==1  ]))

Even_sum is 30
Odd_sum is 25

Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [9]:
[x*x for x in range(1,11) if x%2==1]

[1, 9, 25, 49, 81]

Write a program that combines two lists into a dictionary using list comprehension.

In [19]:
keys = ["Rash", "Kil", "Varsha"]
values = [1, 4, 5]

{keys[i]:values[i] for i in range(len(values))}

{'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [60]:
dict([(keys[i],values[i]) for i in range(len(values))])

{'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [65]:
#t=[(keys[i],values[i]) for i in range(len(values))]

In [66]:
#t

[('Rash', 1), ('Kil', 4), ('Varsha', 5)]

In [ ]:
### dict(t)

Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [68]:
vow=['a','e','i','o','u']

str = input('Enter a string\n')

[s for s in str if s in vow]

Enter a string
acancklwefpownva

['a', 'a', 'e', 'o', 'a']

Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [46]:
list1 = ['4geeks5', '3for', '4geeks']

[y for i in list1 for y in i  if y.isdigit()]

['4', '5', '3', '4']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [4]:
num = int(input('Enter a number\n'))

for i in range(1,num+1):
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count=count+1
    if count ==2:
        print(i)

Enter a number
10
2
3
5
7

In [70]:
def prime_eratosthenes(n):
    prime_list = []  # Create an empty list to store prime numbers
    # Iterate through the numbers from 2 to 'n'
    for i in range(2, n+1):
        if i not in prime_list:
            # If 'i' is not in the 'prime_list,' it's a prime number; print it
            #print(i)

            # Mark all multiples of 'i' as non-prime by adding them to 'prime_list'
            for j in range(i*i, n+1, i):
                prime_list.append(j)
                print(j)

# Call the 'prime_eratosthenes' function with 'n' set to 100 to generate prime numbers
# The function does not have a return value, so it prints the prime numbers directly
prime_eratosthenes(10)

4
6
8
10
9

In [80]:
[x for x in range(2,11) if x not in [y for y in range(x*x,11,x)]]

[2, 3, 4, 5, 6, 7, 8, 9, 10]